.chat-view-container {
  background-color: white;
  overflow: hidden;
}
.message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px 20px;
  border-top: 1px solid #ccc;
  li:first-of-type {
    width: 10%;
  }
  li:last-of-type {
    width: 90%;
  }
}

.message-form-container {
  position: fixed;
  bottom: 0px;
  display: block;
  padding: 10px;
  background-color: whitesmoke;
  border: 3px solid #ccc;
  border-radius: 2%;
  margin: 10px 20px;
  width: 70%;
  input {
    padding: 10px;
  }
  input:first-of-type {
    width: 80%;
    border-right: 3px solid #ccc;
  }
  input:last-of-type {
    width: 20%;
  }
}
