// Place all the styles related to the DMChats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dm-chat-index {
  background-color: #224c74;
  width: 18%;
  margin: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  li {
    padding: 10px;
  }
}
