.home-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
  .treeView {
    width: 18%;
    height: 100%;
  }
  .chatView {
    width: 82%;
    height: 100%;
  }
}
