.home-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
  width: 100%;
  min-width: 600px;
  .treeView {
    height: 100%;
    min-width: 200px;
  }
  .chatView {
    height: 100%;
    flex-grow: 5;
  }
}
