.home-container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  .treeView {
    width: 20%;
  }
  .chatView {
    width: 80%;
  }
}

.tree-view-container {
  display: flex;
  flex-direction: column;
}

// Team Details
.team-details {
  background-color: #DCE9EE;
  .team-details-name {
    color: gray;
    font-size: 18px;
    padding: 12px 12px 8px 20px;
  }
  .team-details-list {
    li {
      color: black;
      padding-bottom: 10px;
      margin-left: 32px;
      font-size: 12px;
    }
    .team-details-title {
      color: darken(#ccc, 40%);
      font-size: 24px;
      padding: 10px;
      margin-left: 10px;
    }
  }
}
.channel-div {
  overflow: hidden;
  height: 30%;
}

.dm-chat-div {
}


// Channel index
.channels-box {
  background-color: #DCE9EE;
  h3 {
    padding: 5px 0 5px 0;
    margin: auto;
    color: gray;
    font-size: 12px;
  }
  button {
    padding: 10px 30px;
    text-align: left;
    font-weight: 300;
    font-size: 12px;
    display: block;
    width: 100%;
  }
  button:hover {
    transform: scaleX(1.04) scaleY(1.04);
    background-color: white;
    font-weight: 400px;
    cursor: pointer;
  }
  .channels-header {
    text-align: left;
    font-weight: 300;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    li {
      padding: 0px;
      width: 50%;
      text-align: center;
    }
    a {
      width: 100%;
      height: 100%;
      font-size: 24px;
    }
  }
}

// DmChatIndex
.dm-chat-container {
  background-color: #224c74;
  display: flex;
  flex-direction: column;
  height: auto;
  li button {
    width: 100%;
    color: white;
    padding: 5px;
    padding-left: 40px;
  }
  li button:hover {
    cursor: pointer;
    transform: scaleX(1.05) scaleX(1.05);
    background-color: #DCE9EE;
    color: black;
  }
  h3 {
    padding: 5px;
    font-size: 12px;
    color: #ccc;
    padding-left: 30px;
  }
}
