.login-form-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .login-form-box {
    padding: 80px;
    margin: auto;
    background-color: #c5aaa4;
    border: 2px solid #351524;
    border-radius: 3%;
    .login-form {
      padding: 20px;
      display: flex;
      justify-content: space-between;
      .login-input {
        background-color: white;
        padding: 20px;
        margin: 20px;
        border-radius: 4%;
        font-size: 16px;
      }
      .submit-login-button {
        background-color: white;
        border-radius: 6%;
      }
    }
  }
}
