.main-screen {
  height: 90%;
}

.Overlay {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  .Overlay-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100%;
    text-align: center;
    background-color: transparentize(black, 0.6);
    .Overlay-quote-text {
      font-size: 32px;
      color: white;
      font-weight: 700;
    }
  }
  .Overlay-list {
    background-color: darken(#ccc, 50);
    width: 30%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    li {
      color: white;
      display: flex;
      line-height: 100px;
      border-bottom: 1px solid #ccc;
      box-shadow: black 0 2px;
      font-size: 22px;
      a {
        width: 100%;
        text-align: center;
      }
      a:hover {
        box-shadow: black 0 3px;
        background-color: whitesmoke;
        color: lighten(black, 10);
      }
    }
  }
}
