.main-screen {
  height: calc(100% - 54px);
}

.Overlay {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url('https://res.cloudinary.com/es-axiom/image/upload/v1472661902/pexels-photo-25896_jfqe2o.jpg');
  .Overlay-quote {
    text-align: center;
    padding: 70px;
    background-color: transparentize(black, 0.6);
    font-size: 32px;
    color: white;
    font-weight: 700;
  }
  .Overlay-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    li {
      color: white;
      display: flex;
      margin: 20px;
      border-radius: 4%;
      a {
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
        background-color: transparent;
        padding: 60px;
        font-size: 18px;
        font-weight: 700;
        img {
          height: 120px;
          width: 120px;
        }
      }
      a:hover {
        -webkit-transform: scale(1.03);
        -moz-transform: scale(1.03);
        -o-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03);
        cursor: pointer;
        background-color: var(--mainlight);
      }
    }
  }
}

.welcome-message {
  display: flex;
  align-items: center;
  flex-direction: column;
  .img {
    height: 40px;
    width: 50px;
  }
}
