.main-screen {
  height: calc(100% - 30px);
}

.Overlay {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  .Overlay-quote {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 100%;
    text-align: center;
    background-color: transparentize(black, 0.6);
    .Overlay-quote-text {
      font-size: 32px;
      color: white;
      font-weight: 700;
    }
    .Overlay-quote-title {
      font-size: 48px;
      color: white;
      font-weight: 700;
    }
    .Overlay-connectivity {
      height: 40%;
    }
  }
  .Overlay-list {
    background-color: darken(#ccc, 50);
    width: 30%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    li {
      background-color: white;
      color: lighten(black, 20);
      display: flex;
      line-height: 100px;
      border-bottom: 2px solid #ccc;
      font-size: 22px;
      a {
        width: 100%;
        text-align: center;
      }
      a:hover {
        background-color: whitesmoke;
        color: lighten(black, 10);
      }
    }
  }
}
