.header {
  height: 52px;
}


.header-static-title {
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  height: 100%;
  .header-title {
    height: 100%;
    margin: auto;
  }
  .header-static-link {
    padding: 7px;
    font-size: 32px;
    color: white;
  }
  .header-static-link:hover {
    transform: scale(1.1);
  }
}

.navbar {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: none;
  border-bottom: 2px solid white;
  height: 50px;
  .navbar-link {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
    li {
      height: 100%;
      .header-static {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        height: 100%;
        .header-static-logo {
          height: 100%;
          text-align: center;
          .logo-img {
            height: 50px;
            width: 62px;
          }
          .logo-img:hover {
            transform: scaleX(1.04) scaleY(1.04);
          }
        }
      }
    }
    .navbar-right-links {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      li {
        text-align: center;
        color: white;
        cursor: pointer;
        display: flex;
        a {
          height: 100%;
          padding: 15px;
          font-size: 18px;
        }
      }
      li:hover {
        background-color: white;
        color: black;
      }
    }
  }
}

.navbar-logged-in {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: none;
  border-bottom: 2px solid white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  .header-group {
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: white;
    .header-name {
      padding-right: 25px;
    }
    .header-button {
      height: 50px;
      margin-right: 40px;
      padding: 0 20px;
    }
    .header-button:hover {
      color: black;
      background-color: white;
    }
  }
}
.header-static {
display: flex;
justify-content: space-between;
flex-direction: row;
  .header-static-logo {
    .logo-img {
      height: 50px;
      width: 62px;
    }
    .logo-img:hover {
      transform: scaleX(1.04) scaleY(1.04);
    }
  }
}
