// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Overlay {
  margin: auto;
  text-align: center;
  vertical-align: center;
  background-color: white;
  .Overlay-quote {
    padding: 30px;
    margin-top: 150px;
    .Overlay-quote-text {
      font-size: 3em;
    }
  }
  .Overlay-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    li {
      border-top: 4px solid #ccc;
      width: 50%;
    }
    li p{
      padding: 80px;
      display: block;
      background-color: whitesmoke;
      text-align: center;
      font-size: 18px;
    }
    li a {
      padding: 80px;
      display: block;
      background-color: whitesmoke;
      text-align: center;
      font-size: 24px;
      border-right: 2px solid #ccc;
    }
    li a:hover {
      transform: scaleX(1.05) scaleY(1.05);
    }
  }
}

.header-static {
  display: flex;
  justify-content: space-between;
  :hover {
    transform: scaleX(1.4) scaleY(1.4);
  }
  .logo-img {
    height: 26px;
    width: 26px;
  }
}

.navbar {
  border-bottom: 2px solid white;
  .navbar-link {
    display: flex;
    justify-content: space-between;
    li a {
      color: white;
      padding: 10px;
    }
    li {
      padding: 10px;
    }
  }
  .navbar-right-links {
    display: flex;
    justify-content: space-between;
    li {
      padding: 20px;
      color: white;
    }
    li:hover {
      background-color: white;
      color: black;
    }
  }
}

.navbar-logged-in {
  border-bottom: 2px solid white;
  display: flex;
  justify-content: space-between;
  .header-static {
    display: flex;
    justify-content: space-between;
    li {
      color: white;
      padding: 20px;
    }
  }
  .header-group {
    display: flex;
    justify-content: space-between;
    h2 {
      padding: 20px;
      color: white;
    }
    button {
      padding: 20px;
      color: white;
    }
    button:hover {
      color: black;
      background-color: white;
    }
  }
}

.login-form-container {
  background-color: whitesmoke;
  border-radius: 3%;
  border: 3px solid white;
  margin: auto;
  height: auto;
  width: 350px;
  margin-top: 10%;
  .login-form-box {
    background-color: #95B1CD;
    padding: 20px;
  }
  .login-form {
    input {
      margin: 10px;
      padding: 20px;
      width: 280px;
      border-radius: 3%;
      background-color: white;
      font-size: 18px;
    }
    .submit-login-button {
      width: 100px;
      font-size: 16px;
    }
  }
}



.footer-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  min-width: 900px;
  display: block;
  border-top: 2px solid white;
  text-align: right;
  color: white;
  height: auto;
  div a {
    padding: 20px;
    color: white;
  }
  div {
    padding: 20px;
  }
  div a:hover {
    color: black;
    background-color: white;
  }
}
