.header {
  .navbar {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: none;
    height: 30px;
    .navbar-link {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      height: 100%;
      li {
        height: 100%;
        align-items: center;
        .header-static {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          height: 100%;
          align-items: center;
          .header-static-title {
            text-align: center;
            height: 100%;
            display: flex;
            flex-direction: row;
            .header-title {
              height: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              .header-static-link {
                text-align: center;
                padding: 20px;
                font-size: 1.7em;
                color: white;
              }
            }
          }
        }
      }
      .navbar-right-links {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        li {
          height: 100%;
          text-align: center;
          color: white;
          cursor: pointer;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          a {
            height: 100%;
            font-size: 18px;
            align-items: center;
            display: flex;
            flex-direction: row;
            .act-link {
              padding: 10px;
              min-width: 100px;
            }
          }
        }
        li:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }
}

.navbar-logged-in {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  .header-name {
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  button {
    padding: 0 20px;
  }
  button:hover {
    background-color: white;
    color: black;
  }
}
