

.team-details {
  background-color: #8eb3aa;
  width: 15%;
  height: 100%;
  border-radius: 10%;
  margin: 20px 0 0 10px;
  border: 2px solid whitesmoke;
  .team-details-name {
    color: white;
    font-size: 28px;
    padding: 12px;
    text-align: center;
  }
  .team-details-name:hover {

  }
  .team-details-list {
    color: whitesmoke;
    margin: auto;
    padding: 0 10px 10px 30px;
  }
}
