.team-details-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  .team-details-title {
    height: 60%;
  }
  .team-details-members {
    height: 20%;
  }
  .team-details-channels {
    height: 20%;
  }
}
