.treeView {
  .tree-view-container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--offset);
    .team-details {
      height: 10%;
      .team-details-list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        color: white;
        background-color: var(--maindark);
        .team-details-title {
          font-weight: 700;
          height: 100%;
          font-size: 28px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
        }
      }
    }
    .channel-div {
      height: 60%;
    }
    .dm-chat-div {
      height: 30%;
    }
  }
}
